<div class="h-screen w-[100%]   pt-8" >
    <user-nav></user-nav>
    <!-- body -->
    <div class="mt-[130px] sm:mt-[130px] md:mt-[50px] lg:mt-[00px] xl:mt-[00px]" >
      <div class="w-[100%]   min-h-screen bg-[] flex items-center justify-center  flex-wrap  gap-2 sm:gap-1 md:gap-2 lg:gap-2 xl:gap-8  pb-8 pt-8" style="background-image: url(/assets/images/bg\ image.jpeg);">
        <div class="h-[300px] w-[80%] sm:w-[40%] md:w-[30%] lg:w-[23%] xl:w-[23%] bg-white rounded-[10px] p-2 relative">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-4">Registered works</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer" routerLink="/client/registerdComponys">Click here</button>
        </div>

        <div class="h-[300px] w-[80%] sm:w-[40%] md:w-[30%] lg:w-[23%] xl:w-[23%] bg-white bg-blend-lighten rounded-[10px] p-2 relative  ">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-8">Register new work</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer" routerLink="/client/componyReg">Register</button>
        </div>

        <div class="h-[300px] w-[80%] sm:w-[40%] md:w-[30%] lg:w-[23%] xl:w-[23%] bg-white rounded-[10px] p-2 relative">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-4">On going work detailes</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer">Click here</button>
        </div>

        <div class="h-[300px] w-[80%] sm:w-[40%] md:w-[30%] lg:w-[23%] xl:w-[23%] bg-white rounded-[10px] p-2 relative">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-2">Completed work history</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer">Click here</button>
        </div>
        
        
    </div>
      
</div>
<app-footer></app-footer>
</div>