<div class="h-screen w-screen">
    <app-navbar></app-navbar>

    <!-- welcome  -->
    <div class="w-screen flex items-center justify-center mt-4">
        <div class="h-[80px] w-[90%] sm:w-[80%] md:w-[60%] lg:w-[50%] xl:w-[40%] bg-white rounded-full flex justify-center items-center p-8">
            <div class="w-[90%] bg-[] flex items-center justify-center  flex-col  ">
                <p class="text-[30px] font-black">Welcome</p>
                <p>Muhammed Amjath k</p>
            </div>
            <div class=" w-[10%] bg-[] flex items-center justify-center cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 50 50"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke="#344054" d="M31.25 37.5h-12.5a6.25 6.25 0 0 0 12.5 0"/><path stroke="#306CFE" d="M40.375 29.958a4.42 4.42 0 0 1 1.292 3.125v0A4.417 4.417 0 0 1 37.25 37.5h-24.5a4.416 4.416 0 0 1-4.417-4.417v0a4.42 4.42 0 0 1 1.292-3.125l2.875-2.875V18.75A12.5 12.5 0 0 1 25 6.25v0a12.5 12.5 0 0 1 12.5 12.5v8.333z"/></g></svg>
                <span class="h-[20px] w-[20px] bg-[red] rounded-full mb-[20px] ml-[-20px] border-2 border-white flex items-center justify-center text-[10px] text-white">5</span>
            </div>
        </div>
    </div>

    <!-- main content  -->


    <div class="w-screen h-auto bg-[] flex items-center justify-center flex-col sm:flex-row md:flex-row lg:flex-row xl:flex-row  gap-2 sm:gap-1 md:gap-2 lg:gap-2 xl:gap-8 mt-[5%] pb-8">
        <div class="h-[300px] w-[60%] sm:w-[24%] md:w-[25%] lg:w-[23%] xl:w-[18%] bg-white rounded-[10px] p-2 relative">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-4">Registered works</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer">Click here</button>
        </div>

        <div class="h-[300px] w-[60%] sm:w-[24%] md:w-[25%] lg:w-[23%] xl:w-[18%] bg-white rounded-[10px] p-2 relative">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-8">Register new work</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer">Register</button>
        </div>

        <div class="h-[300px] w-[60%] sm:w-[24%] md:w-[25%] lg:w-[23%] xl:w-[18%] bg-white rounded-[10px] p-2 relative">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-4">On going work detailes</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer">Click here</button>
        </div>

        <div class="h-[300px] w-[60%] sm:w-[24%] md:w-[25%] lg:w-[23%] xl:w-[18%] bg-white rounded-[10px] p-2 relative">
            <div class="h-[40%] w-full flex items-center justify-center bg-[] rounded-tl-[10px] rounded-t-[10px]">
                <img src="/assets/images/compony.png" alt="" class="h-[60%] w-auto">
            </div>
            <p class="w-full text-center text-[25px] font-medium mt-2">Completed work history</p>
            <button class="h-[40px] w-[70%] bg-[blue] rounded-[10px] ml-[15%] text-white absolute bottom-[15px] cursor-pointer">Click here</button>
        </div>
        
        
    </div>
     <div class="bg-[#00523F] h-[250px] w-[100%] mt-[-10%] hidden sm:block"></div>
     <app-footer></app-footer>

</div>