<div class="max-h-[600px] w-[20%] bg-[] fixed right-[10%] z-10 top-[80px] flex flex-col  overflow-y-auto">

    <div class=" max-h-[50px] bg-white border-b border-[#eae2b7] flex items-center justify-center ">
        <div class="h-[50px] w-full  bg-[] p-1 flex ">
            <div class="flex flex-col h-full w-[25%] bg-[] ">
                <span class="h-full w-full bg-[] flex items-center justify-center text-[30px] text-[orange]">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </span>
            </div>
            <div class="h-full w-[75%] bg-[] flex flex-col ">
                <span class="w-full h-[30%] bg-[] text-[10px] text-[gray]">14/05/2002</span>
                <p class="w-full h-[70%] bg-[] text-[12px] pt-1 truncate  ">New notification from muhammed amjath kooliyodan </p>
            </div>
        </div>
    </div>
    

</div>