<div class="h-screen  w-screen flex items-center justify-center">
    <div  class="h-[50%] w-full sm:w-[80%] md:w-[60%] lg:w-[40%] xl:w-[30%] bg-white rounded-[10px]">
        <div class="h-[20%] w-full bg-[] flex items-center justify-center p-2 rounded-tl-[10px] rounded-tr-[10px]">
            <img src="/assets/images/logo.png" alt="" class="h-full w-auto">
        </div>
        <p class="w-full bg-[] text-[30px] text-center font-medium mt-[5%]">New Password</p>
        <p class="w-full bg-[] text-[15px] text-center mt-[5%]">Please enter your new password here</p>
        <form [formGroup]="newPassword" (ngSubmit)="passwordSubmit()">
            <input type="password" placeholder="Enter your passowrd" class="h-12 rounded-lg w-[80%] ml-[10%] mt-[5%] px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 bg-gray-100 text-gray-700 border border-gray-300" formControlName="password">
            <p *ngIf="onPasswordSubmit && newPassword.get('password')?.errors" class="text-[red] ml-[10%]">Enter a valid password</p>
        <button type="submit" class="h-[40px] w-[70%] ml-[15%] rounded-[10px] text-white bg-[blue] mt-[7%]">Next</button>
    </form>
    </div>
</div>