    <div class="max-w-md mx-auto bg-[#06d6a0] shadow-lg rounded-lg overflow-hidden fixed  right-4 z-10 w-[40%] top-[80px] max-h-[600px] overflow-y-auto  md:max-w-lg">
        <div class="md:flex">
            <div class="w-full p-4">
                <div class="relative"> <input type="text" class="w-full h-12 rounded focus:outline-none px-3 focus:shadow-md" placeholder="Search..."> <i class="fa fa-search absolute right-3 top-4 text-gray-300"></i> </div>
                <ul *ngFor="let data of chatListDat">
                    
                    <ng-container *ngIf="userData?.category == 'contractor'; else nonContractor">
                        <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition" (click)="getSelect(data.userId, data.componyId)">
                            <div class="flex ml-2 h-[40px] w-[40px] rounded-full">
                                <img src="{{data?.senderData[0].image}}" alt="😁" class="rounded-full h-full w-full object-cover">
                                <div class="flex flex-col ml-16 justify-center">
                                    <span *ngIf="data?.senderData[0].componyName" class="text-sm text-gray-400 w-32">{{data?.senderData[0].componyName}}</span>
                                    <span *ngIf="data?.senderData[0].name" class="text-sm text-gray-400 w-32">{{data?.senderData[0].name}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col items-center">
                                <span class="text-gray-300">11:26</span>
                                <i class="fa fa-star text-green-400"></i>
                            </div>
                        </li>
                    </ng-container>
                    <ng-template #nonContractor>
                        <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition" (click)="getSelect(data.contractorId, data.componyId)">
                            <div class="flex ml-2 h-[40px] w-[40px] rounded-full">
                                <img src="{{data?.senderData[0].image}}" alt="😁" class="rounded-full h-full w-full object-cover">
                                <div class="flex flex-col ml-16 justify-center">
                                    <span *ngIf="data?.senderData[0].componyName" class="text-sm text-gray-400 w-32">{{data?.senderData[0].componyName}}</span>
                                    <span *ngIf="data?.senderData[0].name" class="text-sm text-gray-400 w-32">{{data?.senderData[0].name}}</span>
                                </div>
                            </div>
                            <div class="flex flex-col items-center">
                                <span class="text-gray-300">11:26</span>
                                <i class="fa fa-star text-green-400"></i>
                            </div>
                        </li>
                    </ng-template>
                    
                </ul>
            </div>
        </div>
    </div>
