<nav class="h-20 w-full  border-b border-[#adb5bd] bg-opacity-20 flex items-center justify-between px-4 sm:px-8">
  <div class="flex items-center space-x-4 " >
      <img class="h-12 sm:h-16" src="/assets/images/logo.png" alt="GreenLand Logo">
      <p class="text-[#007200] font-bold text-lg sm:text-[30px]">Green<span class="text-[#972d07]">Land</span></p>
  </div>
  <div class="flex space-x-4 sm:space-x-8 ">
      <a href="#" class="nav-link">Home</a>
      <a href="#" class="nav-link">Categories</a>
      <a href="#" class="nav-link">Contact</a>
      <a href="#" class="nav-link">About</a>
      <a href="/auth/login" class="nav-link">Login</a>
  </div>
  <div class="flex items-center justify-center h-12 w-12 sm:hidden">
      <app-button [icon]="menuBtnIcon"></app-button>
  </div>
</nav>
