
<app-navbar></app-navbar>


<div class="h-screen w-screen block items-center justify-center sm:block md:flex lg:flex xl:flex">
    <div class="h-[1000px] sm:h-[1040px] md:h-[550px] lg:h-[550px] xl:h-[550px] w-[100%] sm:w-[100%] md:w-[80%] lg:w-[80%] xl:w-[60%] bg-[#B9FBC0] rounded-[20px]">
        <p class="w-full bg-[] text-[30px] font-black text-center">{{header}}</p>
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
            <div class="h-[850px] sm:h-[850px] md:h-[450px] lg:h-[450px] xl:h-[450px] w-[90%] ml-[5%] bg-[] mt-4 flex flex-col gap-1">
                <div class="w-[100%] h-[800px] sm:h-[800px] md:h-[400px] lg:h-[400px] xl:h-[400px] bg-[] flex gap-[2%] flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row">
                    <!-- part one -->
                    <div class="h-[400px] w-[100%] sm:w-[100%] md:w-[49%] lg:w-[49%] xl:w-[49%] bg-[] flex flex-col gap-8">
                        <div class="flex flex-col gap-2">
                            <p>Compony Logo <span class="text-[red]">*</span> :</p>
                            <div class="h-[200px] w-[65%] rounded-[20px] bg-white ml-[17.5%] flex items-center justify-center"><img src="{{imageUrl}}" alt="" class="h-[180px] w-auto"></div>
                            <input type="file" class="h-8 w-[40%] cursor-pointer ml-[30%] bg-[#ffff] rounded-[10px]"   formControlName="image" (change)="onImageChange($event)">
                        </div>
                        <div class="flex flex-col gap-2">
                            <p>Compony Name <span class="text-[red]">*</span> :</p>
                            <input type="text" class="h-[40px] w-[100%]  rounded-[10px] text-center focus:outline-[blue] bg-[#ffff]"  formControlName="componyName">
                        </div>
                    </div>

                    <!-- part two -->
                    <div class="h-[400px] w-[100%] sm:w-[100%] md:w-[49%] lg:w-[49%] xl:w-[49%] bg-[] flex flex-col gap-8">
                        
                        <div class="flex flex-col gap-2">
                            <p>Category <span class="text-[red]">*</span> :</p>
                            <input type="text" class="h-[40px] w-[100%]  rounded-[10px] text-center focus:outline-[blue] bg-[#ffff]" formControlName="category">
                        </div>

                        <div class="flex flex-col gap-2">
                            <p>Location <span class="text-[red]">*</span> :</p>
                            <input type="text" class="h-[40px] w-[100%]  rounded-[10px] text-center focus:outline-[blue] bg-[#ffff] " formControlName="location">
                        </div>

                        <div class="flex flex-col gap-2">
                            <p>Discription <span class="text-[red]">*</span> :</p>
                            <textarea name="" id=" " class="h-[120px] w-[100%]  rounded-[10px]  focus:outline-[blue] bg-[#ffff]" formControlName="discription"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="bg-[#FFC42A] w-[40%] h-[40px] rounded-[10px] ml-[30%] font-medium cursor-pointer hover:bg-[#ffba08]">{{submitBtnText}}</button>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>