<!-- navbar -->
<app-navbar></app-navbar>

<!-- main body -->
<div>
    <!-- image part  -->
    <div class=" h-[840px] xl:h-[680px] sm:h-[840px] md:h-[840px] lg:h-[840px] w-screen ">
        <img src="/assets/images/main home.jpg" alt="" class="h-full w-full  ">
        <h2 class=" w-screen text-center mt-[-600px] text-[40px] font-black text-[#00523F] ">MAKE YOUR DREEM HOUSE</h2>
        <P class=" w-screen text-center text-[20px]  text-[#00523F] ">We are here for you 😘</P>
    </div>

    <!-- thinking image -->
    <!-- <div class="h-[800px] w-screen relative"> -->

        <!-- center image -->
        <!-- <div class="h-[200px] sm:h-[260px] md:h-[350px] lg:[400px] xl:h-[450px] w-[150px] sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[350px] bg-[red]  absolute top-[200px] top-[110px] sm:top-[130px] md:top-[150px] lg:top-[180px] xl:top-[170px]  bg-[blue] left-[33%] sm:left-[34%] md:left-[35%] lg:left-[36%] xl:left-[36%] z-[1]">
            <img src="/assets/images/user thinking.jpg" alt="" class="w-full h-full">
        </div>

        <div class="h-[65px] sm:h-[100px] md:h-[100px] lg:h-[150px] xl:h-[150px] w-[300px]  sm:w-[500px] md:-[600px] lg:w-[650px] xl:w-[850px] absolute top-[80px] sm:top-[90px] md:top-[90px] lg:top-[100px] xl:top-[100px]  bg-[blue] left-[15%] sm:left-[16%] md:left-[17%] lg:left-[18%] xl:left-[20%]  flex justify-between">
            <img src="/assets/images/rounded images/ac fitting.jpg" alt="" class="h-full w-auto rounded-full">
            <img src="/assets/images/rounded images/building-house-zillowDOTcom-photoaidcom-cropped.jpg" alt="" class="h-full w-auto rounded-full">
        </div>

        <div class="h-[65px] sm:h-[100px] md:h-[100px] lg:h-[150px] xl:h-[150px] w-[350px] sm:w-[600px] md:-[800px] lg:w-[800px] xl:w-[1000px]  absolute top-[180px]  sm:top-[210px] md:top-[240px] lg:top-[260px] xl:top-[300px]  bg-[blue] left-[10%] sm:left-[12%] md:left-[13%] lg:left-[14%] xl:left-[15%] bg-[blue]   flex justify-between">
            <img src="/assets/images/rounded images/foundation.jpg" alt="" class="h-full w-auto rounded-full">
            <img src="/assets/images/rounded images/gardenning.jpg" alt="" class="h-full w-auto rounded-full">
        </div>

        <div class="h-[65px] sm:h-[100px] md:h-[100px] lg:h-[150px] xl:h-[150px] w-[300px]  sm:w-[500px] md:-[600px] lg:w-[650px] xl:w-[850px]  absolute top-[280px]  sm:top-[220px] md:top-[380px] lg:top-[440px] xl:top-[500px]  bg-[blue] left-[15%] sm:left-[16%] md:left-[17%] lg:left-[18%] xl:left-[20%] bg-[blue]  flex justify-between">
            <img src="/assets/images/rounded images/land clearing.jpg" alt="" class="h-full w-auto rounded-full">
            <img src="/assets/images/rounded images/painting.jpg" alt="" class="h-full w-auto rounded-full">
        </div>

        <div class="h-[410px] sm:h-[550px] md:h-[600px] lg:h-[680px] xl:h-[780px] w-[70px] sm:w-[100px] md:-[100px] lg:w-[150px] xl:w-[150px] absolute top-[10px] left-[43%] bg-[blue]  flex flex-col justify-between">
            <img src="/assets/images/rounded images/planning.jpeg" alt="" class="h-auto w-full rounded-full">
            <img src="/assets/images/rounded images/plumbing.jpg" alt="" class="h-auto w-full rounded-full">
        </div>
    </div> -->

    <!-- trade work part  -->
    <div class="h-auto w-screen pb-12 " >
        <h1 class="w-screen text-[#00523F] text-center text-[40px] font-black">SELECT THE BEST</h1>
        <div class="h-auto w-screen mt-6 flex flex-wrap justify-center gap-4 sm:gap-8 md:gap-8 lg:gap-6 xl:gap-6">
            <div class="group h-48 w-4/5 sm:w-2/5 md:w-1/4 lg:w-1/4 xl:w-1/4  relative overflow-hidden">
                <img src="/assets/images/insideimage/carpender.jpg" alt="" class="h-full w-full object-cover">
                <div class="absolute inset-0 bg-gray-800 opacity-50"></div>
                <p class="absolute inset-0 flex items-center justify-center text-[20px] font-black text-white transition-transform duration-500 transform translate-y-0 group-hover:translate-y-full">Carpenders</p>
                <div class="absolute opacity-60 top-0 left-0 h-48 w-full bg-[#04471c] text-[20px] font-medium text-white flex-col  flex justify-center items-center p-4 transition-transform duration-500 transform -translate-y-full group-hover:translate-y-0">
                    Transform your home with skilled carpentry, crafting custom solutions for your unique needs.
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.632l8.968-4.748l-.936-1.768L12 13.368L3.968 9.116l-.936 1.768z"/></svg>
                </div>
            </div>
            <div class="group h-48 w-4/5 sm:w-2/5 md:w-1/4 lg:w-1/4 xl:w-1/4  relative overflow-hidden">
                <img src="/assets/images/insideimage/landscapers.jpg" alt="" class="h-full w-full">
                <div class="absolute inset-0 bg-gray-800 opacity-50"></div>
                <P class="absolute inset-0 flex items-center justify-center text-[20px] font-black text-white transition-transform duration-500 transform translate-y-0 group-hover:translate-y-full">Landscaper's</P>
                <div class="absolute opacity-60 top-0 left-0 h-48 w-full bg-[#04471c] text-[20px] font-medium text-white flex justify-center items-center flex-col p-4 transition-transform duration-500 transform -translate-y-full group-hover:translate-y-0">
                    Transform your home with skilled carpentry, crafting custom solutions for your unique needs.
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.632l8.968-4.748l-.936-1.768L12 13.368L3.968 9.116l-.936 1.768z"/></svg>
                </div>
            </div><div class="group h-48 w-4/5 sm:w-2/5 md:w-1/4 lg:w-1/4 xl:w-1/4  relative overflow-hidden">
                <img src="/assets/images/insideimage/escavetor-transformed.png" alt="" class="h-full w-full">
                <div class="absolute inset-0 bg-gray-800 opacity-50"></div>
                <P class="absolute inset-0 flex items-center justify-center text-[20px] font-black text-white transition-transform duration-500 transform translate-y-0 group-hover:translate-y-full">Excavator Operator </P>
                <div class="absolute opacity-60 top-0 left-0 h-48 w-full bg-[#04471c] text-[20px] font-medium text-white flex flex-col  justify-center items-center p-4 transition-transform duration-500 transform -translate-y-full group-hover:translate-y-0">
                    Unearth new possibilities with skilled excavation operations, laying the groundwork for your construction projects.
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.632l8.968-4.748l-.936-1.768L12 13.368L3.968 9.116l-.936 1.768z"/></svg>
                </div>
            </div><div class="group h-48 w-4/5 sm:w-2/5 md:w-1/4 lg:w-1/4 xl:w-1/4  relative overflow-hidden">
                <img src="/assets/images/insideimage/floor.jpg" alt="" class="h-full w-full">
                <div class="absolute inset-0 bg-gray-800 opacity-50"></div>
                <P class="absolute inset-0 flex items-center justify-center text-[20px] font-black text-white transition-transform duration-500 transform translate-y-0 group-hover:translate-y-full">Floor staf</P>
                <div class="absolute opacity-60 top-0 left-0 h-48 w-full bg-[#04471c] text-[20px] font-medium text-white flex  flex-col justify-center items-center p-4 transition-transform duration-500 transform -translate-y-full group-hover:translate-y-0">
                    Enhance your floors with precision craftsmanship, delivering flawless installations for a polished finish.
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.632l8.968-4.748l-.936-1.768L12 13.368L3.968 9.116l-.936 1.768z"/></svg>
                </div>
            </div><div class="group h-48 w-4/5 sm:w-2/5 md:w-1/4 lg:w-1/4 xl:w-1/4  relative overflow-hidden">
                <img src="/assets/images/insideimage/painters.jpeg" alt="" class="h-full w-full">
                <div class="absolute inset-0 bg-gray-800 opacity-50"></div>
                <P class="absolute inset-0 flex items-center justify-center text-[20px] font-black text-white transition-transform duration-500 transform translate-y-0 group-hover:translate-y-full">Painters</P>
                <div class="absolute opacity-60 top-0 left-0 h-48 w-full bg-[#04471c] text-[20px] font-medium text-white flex flex-col  justify-center items-center p-4 transition-transform duration-500 transform -translate-y-full group-hover:translate-y-0">
                    Elevate your space with expert painting services, adding vibrancy and life to your walls.
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.632l8.968-4.748l-.936-1.768L12 13.368L3.968 9.116l-.936 1.768z"/></svg>
                </div>
            </div><div class="group h-48 w-4/5 sm:w-2/5 md:w-1/4 lg:w-1/4 xl:w-1/4  relative overflow-hidden">
                <img src="/assets/images/insideimage/roofer.jpg" alt="" class="h-full w-full">
                <div class="absolute inset-0 bg-gray-800 opacity-50"></div>
                <P class="absolute inset-0 flex items-center justify-center text-[20px] font-black text-white transition-transform duration-500 transform translate-y-0 group-hover:translate-y-full">Roofer</P>
                <div class="absolute opacity-60 top-0 left-0 h-48 w-full bg-[#04471c] text-[20px] font-medium text-white flex flex-col  justify-center items-center p-4 transition-transform duration-500 transform -translate-y-full group-hover:translate-y-0">
                    Shield your property from the elements with professional roofing services, ensuring lasting protection and peace of mind.
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.632l8.968-4.748l-.936-1.768L12 13.368L3.968 9.116l-.936 1.768z"/></svg>
                </div>
            </div>

        </div>
    </div>

    <!-- kerala map -->
    <div class="w-screen h-auto flex flex-col sm:flex-row  ">
        <div class="sm:w-1/2 w-screen  flex flex-col text-center justify-center" >
            <h1 class="w-full text-[40px] font-black text-[#00523F]  ">All over the kerala</h1>
            <p class="w-full text-[15px] p-4 ">
                expert engineers for all your home needs across Kerala. Quality service, everywhere you need it.
            </p>
        </div>
        <div class="h-auto sm:w-1/2 w-screen  flex sm:block justify-center">
            <img src="/assets/images/kerala map.png" alt="" class="h-96 w-auto" >
        </div>
    </div>



</div>










<!-- footer -->

<app-footer></app-footer>
